{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}

<div class="container">
    <div class="notif_box">
        <h3>Latest Notifications</h3>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Notification</th>
                </tr>
             </thead>
             <tbody>
                {% for notification in notifications %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>{{notification[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

</script>
{% endblock %}